{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",

  "rules": {
    "id-length": [2, {"properties": "never", "exceptions": ["x", "y", "_", "$", "s", "e", "i", "j", "k", "p", "c", "w", "h"]}],
    "no-console": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-param-reassign": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }],
    "new-cap": [2, {"capIsNewExceptions": ["Map", "List", "Router"]}],
    "no-nested-ternary": 0
  },

  "globals": {
    "cc": true,
    "sp": true,
    "ccui": true,
    "store": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "res": true,
    "resIn": true,
	  "LTC": true,
    "net": true
  },

  "env": {
    "browser": true,
    "node": true
  }
}
