node_modules/
frameworks/cocos2d-x/
frameworks/cocos2d-html5/
src/app.*
src/vendors.*
typings/**
publish/**
/res
res-middle
res-origin-mini
res-mini
resource.*.js
test.js
.env
.vscode
group.json
tmp
.idea

/frameworks/runtime-src/proj.win32/
!/frameworks/runtime-src/proj.win32/chinaChess.sln
!/frameworks/runtime-src/proj.win32/chinaChess.vcxproj
!/frameworks/runtime-src/proj.win32/Debug.win32/chinaChess.tlog/
!/frameworks/runtime-src/proj.win32/Debug.win32/DLL/
!/frameworks/runtime-src/proj.win32/Debug.win32/TSDKConfig/
!/frameworks/runtime-src/proj.win32/Debug.win32/pthreadVC2.dll
!/frameworks/runtime-src/proj.win32/Debug.win32/config.ini
frameworks/runtime-src/proj.android/obj/
frameworks/runtime-src/proj.android/bin/
frameworks/runtime-src/proj.android/assets/
frameworks/
